/* Top bar */
.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
}
.right a{
  margin: 7px;
}
.one{
margin-left: 10px;
}
.two{
margin-left: 10px;
}
.first-child{
  display: flex;
  justify-content: space-between;
}
hr{
  width: 220px;
  padding: 5px;
}
.text-container h5{
  color: #673ab7;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
/* .botn{
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 17px;
} */
.text-container{
  padding: 155px;
  align-items: center;
  font-size: 50px;
}
.text-container p{
  font-size: 15px;
  opacity: 0.6;
}
.text-container h1{
  font-size:50px ;
 font-weight: bold;
 padding: 10px;
}
.color{
  background: linear-gradient(to right, #6A0DAD, #BA55D3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}
.btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.7;
}
.btn-primary {
  background: linear-gradient(to right, #6A0DAD, #BA55D3);
  color: #fff;
  border: none;
}
.btn-outline-primary {
  background-color: transparent;
  color: #6A0DAD; 
  border: 2px solid #6A0DAD;
}

.btn-outline-primary:hover {
  background: linear-gradient(to right, #6A0DAD, #BA55D3);
  color: #fff;
  border-color: #BA55D3;
}


.top-bar a {
  color: #555;
  text-decoration: none;
}

.right.a:hover {
  color: #6f42c1;
}

/* Navbar */
.navbar {
 background: linear-gradient(to right, #6A0DAD, #BA55D3);
}
.nav-link{
  text-decoration: none;
  color: #d4c8e8;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;

}
.nav-link li{
  margin: 20px;
}

.nav-link:hover {
  color: #3e234a !important;
  
}

.lft-banner{
  margin-top: 150px;
  /* margin-right: 700px; */
}
.om{
  display: flex;
  justify-content: space-between;
}
.ebn{
  margin-top: 100px;
  font-weight: bold;
  margin-right: 275px;
}
.boo {
  background: linear-gradient(to right, #6A0DAD, #BA55D3);
  height: 0.5px;
  border-radius: 25px;
  border: none;
}
h2{
  font-weight: bold;
}
.text{
  opacity: 0.5;
}
.container-one{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}
.icon{
  border: 2px solid gray;
  border-radius: 25px;
  font-size: 20px;
  padding: 20px;
}
.icon:hover{
  box-shadow: 0 15px 30px rgba(138, 43, 226, 0.4);
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

h3.omg:hover{
     background: linear-gradient(to right, #6A0DAD, #BA55D3);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.ser{
  left: 0;
}
h3.one{
  font-weight: bold;
  margin-left: 250px;
}
#one{
  margin-left: 250px;
  border-color: #6f42c1;
}
.container-three{
  /* display: grid; */
  display: flex;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-around;
}
/* .card{
  background-color: rgba(138, 43, 226, 0.4);
} */
.kk{
  text-decoration: none;
  cursor: pointer;
  color: #BA55D3;
}
.card:hover{
    box-shadow: 0 15px 30px rgba(138, 43, 226, 0.4);
  font-size: 50px;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}